@charset "utf-8";
/* 中间内容部分 */
.wfull {
  min-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.usamainbar {
  padding-top: 120px;
}
.usamainbar .banner {
  margin: 0 auto;
  min-height: 424px;
  height: auto;
  min-width: 1240px;
  width: 100%;
  overflow: hidden;
  /* 分页器样式 */
}
.usamainbar .banner img {
  margin: 0 auto;
  min-height: 424px;
  height: auto;
  min-width: 1240px;
  width: 100%;
  vertical-align: bottom;
  font-size: 0;
  border: 0;
}
.usamainbar .banner .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  width: 14px;
  height: 14px;
}
.usamainbar .banner .swiper-pagination-bullet-active {
  background: #ED3029;
  opacity: 1;
  width: 14px;
  height: 14px;
}
.usamainbar .inshoplist {
  margin: 0 auto;
  min-height: 193px;
  height: auto;
  min-width: 1240px;
  width: 100%;
  zoom: 1;
  overflow: hidden;
}
.usamainbar .inshoplist li {
  width: 25%;
  float: left;
  min-height: 193px;
  height: auto;
  text-align: center;
  zoom: 1;
}
.usamainbar .inshoplist li a {
  display: block;
  margin: 0px auto;
  width: 100%;
  min-height: 193px;
  height: auto;
  font-size: 16px;
  text-decoration: none;
  color: #333;
}
.usamainbar .inshoplist li a img {
  display: block;
  width: 100%;
  min-height: 193px;
  height: auto;
  vertical-align: bottom;
}
.usamainbar .inshoplist li .inshop-tit {
  width: 100%;
  height: 45px;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #222;
}
